

  .text-decorator-none {
    text-decoration: none;
  }

  /*.login {
    width: 50%;
    height: 100%;
    background: #2C3034;
    background-size: cover;
    align-items: center;
    justify-content: center;
    background-position: 50% 50%;
  }*/

  .signup {
    width: 100%;
    height: 100%;
    background: #f2eee3;
    align-items: center;
    justify-content: center;

  }

  .titulologin {
    align: center;
    font-weight: bold;
    justify-content: center;
    font-family: 'Jost', sans-serif;
    letter-spacing: 0.1rem;

  }

.textos1 {
  font-weight: bold !important;
}

.imagem1 {
  background-repeat: no-repeat;
  right: 0;
  width: 100vh;
  min-height: 100vh;
  background: #f2eee3 url(https://forums.macrumors.com/attachments/monterey-mac-jpg.1788406/);
  background-size: cover;
  background-position: center;
}

.imagem2 {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background: #e74c3c url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F1.bp.blogspot.com%2F-gMX5fS_rUqg%2FXfLBGokAzAI%2FAAAAAAAAjEY%2Fqs-2a28y3g4ruhktycDX2ApIUhhh01WMgCLcBGAsYHQ%2Fs2560%2Fmacos-mojave-dusk-mode-stock-el-2560x1440.jpg&f=1&nofb=1);
  background-size: cover;
  background-position: 50% 50%;
}